{% extends 'AppCoder/layout.html' %}
{% load static %}

{% block contenido %}
    <h1 class="text-center">
        Form Curso
    </h1>
    <form action="{% url 'CrearCurso' %}" method="POST"
          class="d-flex justify-content-center flex-column col-md-7 col-lg-6 mx-auto"
    >
        {% csrf_token %}
        Curso: <input type="text" name="curso">
        Camada: <input type="number" name="camada">
        <input type="submit" value="Enviar" class="my-3">
    </form>
{% endblock contenido %}
